
$light-grey: #d7d7d7;
$grey: grey;
$white: #FFFFFF;
$black: black;

$color-selected: rgba(0, 106, 255);
$hover-color-1: rgba(0, 0, 0, 0.25);
$hover-color-2: rgba(aqua, 0.25);

$box-shadow-dims: 0px 4px 4px;
$default-box-shadow: $box-shadow-dims $hover-color-1;