@use '@/assets/styles/variables' as *;

.page {
    margin: 1vh;
}

.header {
    height: 8vh;
}

.tables_container {
    height: 65vh;
    overflow-y: scroll;
}

.discount_summary_wrapper {
    height: 25vh;
    display: flex;
}

.discount_container {
    display: inline-block;
    margin: 0 auto;
}

.summary_container {
    display: inline-block;
    margin: 0 auto;
}

.split_checkout {
    display: flex;
    align-items: center;
    gap: 10px;
}

.split_input {
    width: 100px;
    font-size: 1rem;
    border-color: $light-grey;
    padding: .5em;
    border-width: 2px;
    border-radius: 5px;
}
