
.card_container {
    height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card_wrapper {
    margin: 1em;
    display: inline-block
}

.toolbar {
    padding: 1em;
    > button {
        margin-right: 1em;
    }
}