
.toolbar {
    padding: 1em;
    > button {
        margin-right: 1em;
    }
}

.card_container {
    display: block;
    height: 80vh;
    padding: 0.5em;
    overflow-y: scroll;

    > * {
        margin: 0.5em;
        display: inline-block;
    }
}
