@use '@/assets/styles/variables' as *;

.page {
    margin: 1em;
}

.toolbar {
    padding: 1em 0;

    > button {
        margin-right: 1em;
    }
}

.header {
    height: 20vh
}

.table_container {
    height: calc(100vh - 20vh - 2em);
    overflow-y: scroll;
}

.selected {
    background-color: rgba($color-selected, 0.3);
    border-radius: 5em;
}

.form-group {
    display: flex;
    flex-direction: column;
}
