@use '@/assets/styles/variables' as *;

.image {
    aspect-ratio: 1 / 1;
    margin: auto;
    border: 2px solid $grey;
    border-radius: 10px;
}

.container {
    display: inline-block;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: $default-box-shadow;
    width: 185px;
    height: 300px;;

    border: 2px solid $light-grey;
}

.container:hover {
    border: $hover-color-2 2px solid;
    box-shadow: $box-shadow-dims $hover-color-2;
}

.container_selected {
    border: $color-selected 5px solid;
    box-shadow: $box-shadow-dims $color-selected;
}
.container_selected:hover {
    border: $color-selected 5px solid;
    box-shadow: $box-shadow-dims $color-selected;
}

.container > h6 {
    text-align: center;
    word-break: break-all;
    height: 1.7em;
    margin: 0.3em auto;
    overflow: auto;
}

.container > p {
    text-align: left;
    display: inherit;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.description {
    margin: 0.3em;
}

.stock {
    color: green;
    &_empty {
        color: red;
    }
}