
.products_container {
    height: 40vh;
    overflow-y: scroll;
}

.products_view {
    min-height: 40vh;
}

.product_modifications_container {
    height: 20vh;
    overflow-y: scroll;
}

.product_modifications_view {
    min-height: 20vh;
}